<div style = "margin-top: 4%; margin-left: 1%;">
<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Comment</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.title %></td>
      <td><%= appointment.comment %></td>
      <td><%= appointment.date %></td>
      <td><%= appointment.start_time.to_formatted_s(:time) %></td>
      <td><%= appointment.end_time.to_formatted_s(:time) %></td>
      <td><%= link_to 'Show', appointments_path+"/"+appointment.id.to_s %></td>
      <td><%= link_to 'Delete', appointment_path(appointment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Recursive', recursive_path(appointment) %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>

      
  </tr>
  <% end %>
</table>
</div>
